 /* Navbar */
 .navbar {
  background: var(--black);
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
  font-size: 25px;
}

.menu a {
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
  color: var(--light-text);
}

.menu a:hover {
  color: var(--orange);
}

#title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Bagel Fat One", system-ui;
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

#title a {
  text-decoration: none;
  color: var(--yellow);
  padding-top: -20px;
}

#title a:hover {
  color: var(--orange);
}

.left, .right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

#logo{
  width: 50px;
  height: auto;
}

  /* About Styles */
  #about {
    background-color: var(--light-bg);
    color: var(--light-text);
    padding: 40px;
  }
  
  .about-text{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    color: var(--dark-text);
    margin-bottom: 20px;
  }


 /* About Me */
 .container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 10px var(--dark-bg);
}

.right {
  flex: 1;
  position: relative;
  overflow-y: auto;
}

.overlay-text {
  background-color: var(--dark-bg); /* Transparent black */
  color: white;
  padding: 40px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  max-width: 80%;
}
 .aboutme-text{
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: var(--light-text);
  margin-bottom: 20px;
}



  

#aboutMe{
  background-color: white;
  color: var(--dark-text);
}

.aboutme-text{
  color: var(--light-text);
}

#contact{
  font-family: "Bagel Fat One", system-ui;
  background-color: transparent;
  color: var(--yellow);
  border: none;
  font-size:larger;
  text-decoration: none;
}

#contact:hover{
  color: var(--light-text);
  cursor: pointer;
  transition: background-color 0.4s ease;
}